# Generated for your own cluster by 00_getting_started/setup.sh
*/site.conf
*/site.conf.bak

# Downloaded / simulated data, container images, job results
*/data/
*/work/
*/*/results
*/sif/

# PBS job logs (name.o12345, name.e12345, array sub-jobs name.o12345[1])
*.o[0-9]*
*.e[0-9]*

# Nextflow
.nextflow*
en/08_nextflow/nextflow.config
en/08_nextflow/work/
en/08_nextflow/results/

# Your answers in exercises
*/*/my_choice.txt
